.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    background-color: transparent;
    outline: none;
}

.honey-switch {
    position: relative;
    width: 100px;
    height: 30px;
    margin: 0 10px;
}

.honey-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.honey-switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e4e6eb;
    transition: .4s;
    border-radius: 15px;
}

.honey-switch label:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #1f91ca;
    transition: .4s;
    border-radius: 50%;
}

.honey-switch input:checked + label {
    background-color: #1f91ca;
}

.honey-switch input:checked + label:before {
    transform: translateX(70px);
}

.honey-switch label span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    transition: .4s;
    width: 100%;
    text-align: center;
    opacity: 1;
}

.honey-switch label .user {
    left: 0;
    color: #333;
}

.honey-switch label .post {
    right: 0;
    color: #333;
}

.honey-switch input:checked + label .user {
    opacity: 0;
}

.honey-switch input:not(:checked) + label .post {
    opacity: 0;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
}

.search-button i {
    color: #65676b;
}

.search-dropdown {
    position: fixed;
    top: 50px; /* 調整這個值以適應您的 header 高度 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px rgba(32,33,36,0.28);
    z-index: 1000;
    max-height: calc(100vh - 100px); /* 調整最大高度 */
    overflow-y: auto;
}

.search-container:focus-within {
    box-shadow: 0 0 0 2px #1877f2;
}

.search-suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.search-suggestion-item:hover {
    background-color: #f0f2f5;
}

.suggestion-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.suggestion-info {
    display: flex;
    flex-direction: column;
}

.suggestion-name {
    font-weight: bold;
}

.suggestion-username {
    color: #65676B;
    font-size: 0.9em;
}